.venv/
__pycache__/
build/
dist/
Other files/
Файлы для ImportCraneForces/
/!Создание приложений А и Б.exe
/!Создание_приложений_А_и_Б.spec
/Выгрузка для менеджеров 4.xlsm
/Выгрузка для менеджеров.xlsm
/Приложение А. Выгрузка данных по крану.docx
/Приложение Б. Нагрузки на крановые колёса.pdf